<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="http://mnnit.ac.in/vcas2018/assets/css/style.css">
  <title>Springer Template</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <center>
        <h3 >Conference Proceeding's Templates</h3>
      </center>
    </div>
    
    <div class="row">
      <blockquote>
        <div class="row">
          <h3>Paper must be of 8 Pages in standard Springer Conference Proceeding form.</h3>
          <br>
          <p>For your convenience, Springer have summarized in the "Author Guidelines" document how a proceedings paper should
            be structured, how elements (headings, figures, references) should be formatted using Springer predefined styles,
            etc. Springer also give some insight on how your paper will be typeset at Springer. The PDF of the Authors Guidelines
            can be downloaded here or as part of the zip files containing the complete sets of instructions and templates
            for the different text preparation systems.</p>
          <p>Springer has developed LaTeX style files and Word templates to help you prepare your paper. LaTeX is the preferred
            format (especially for texts containing several formulae), but Word templates are also available.</p>
          <br>
          <a href="vcas2018/design/downloads/Springer_Guidelines_for_Authors_of_Proceedings.pdf" target="_blank">
            <button class="button" style="vertical-align:middle">
              <span>Download
                <br>Author Guidelines (pdf )</span>
            </button>
          </a>
          <br>
          <br>
          <h4>CS Proceedings and other multi-author volumes - using LaTeX2e</h4>
          <p>Springer recommend the use of LaTeX2e for the preparation of your camera-ready manuscript, together with the corresponding
            Springer class file.
            <a href="vcas2018/design/downloads/llncs2e.zip" target="_blank">llncs2e.zip contains:</a>
          </p>
          <ul>
            <li>
              llncs.cls, Springer class file;
            </li>
            <li>
              llncs.dem, sample input file, you can use it as a source for your own input;
            </li>
            <li>
              llncs.doc (actually a TeX file), the documentation of the class, with detailed instructions on how the macro package works;
            </li>
            <li>
              llncs.dvi, DVI resulting out of llncs.doc.
            </li>
          </ul>
          <a href="vcas2018/design/downloads/llncs2e.zip" target="_blank">
            <button class="button" style="vertical-align:middle">
              <span>Download
                <br>llncs2e.zip</span>
            </button>
          </a>
          <br>
          <br>
          <h4>CS Proceedings and other multi-author volumes - using LaTeX</h4>
          <p>Springer also provide the LaTeX2e source file of an older version of the "Authors' Instructions," which may serve
            as a further sample input.
            <a href="vcas2018/design/downloads/typeinst.zip" target="_blank">typeinst.zip</a> contains a separate LaTeX file for the text and EPS file for the figures.</p>
          <a href="vcas2018/design/downloads/typeinst.zip" target="_blank">
            <button class="button" style="vertical-align:middle">
              <span>Download
                <br>typeinst.zip</span>
            </button>
          </a>
          <br>
          <br>
          <h4>CS Proceedings and other multi-author volumes - using Microsoft Word</h4>
          <p>Springer template for Microsoft Word is:
            <a href="vcas2018/design/downloads/splnproc1703.zip" target="_blank">"splnproc1703.dotm"</a>. Please read the explanatory typing instructions "SPLNPROC Word 2010-2016 Technical Instructions.pdf"
            contained in the ZIP archive carefully.</p>
          <a href="vcas2018/design/downloads/splnproc1703.zip" target="_blank">
            <button class="button" style="vertical-align:middle">
              <span>Download
                <br>splnproc1703.zip</span>
            </button>
          </a>
          <br>
          <br>
          <h4>Word 2003 template for the preparation of CS proceeding papers</h4>
          <p>A document template has been prepared by Springer for use with Word 2003. Predefined style formats are available
            for all the types of content that are part of a computer science proceedings paper, and these formats can be
            easily accessed via special toolbars.</p>

          <p>The downloadable zip archive contains:</p>
          <ul>
            <li>
              A pdf of the general guidelines for authors of computer science proceedings papers;
            </li>
            <li>
              A pdf of the instructions explaining how to work with the Word 2003 template;
            </li>
            <li>
              The Word 2003 template svlnproc1104.dot.
            </li>
          </ul>
          <p>
          <a href="vcas2018/design/downloads/CSProceedings_AuthorTools_Word_2003.zip" target="_blank">
            <button class="button btn btn-primary">
              <span>Download
                <br>Zip Archive</span>
            </button>
          </a>
        </p>
          <br>
          <br>
        </div>
      </blockquote>
  
  <h3>
    <a class="btn btn-secondary" href="/vcas2018">Back to VCAS-2018</a>
  </h3>
</div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>